.menu{
	width : 100%;
	height : 40px;
	border : 1px solid black;
	display: flex;
    align-items: center;
    margin-bottom : 5px;
}

.menu span{
    width:33.3%;
    display: flex;
    float:left;
    justify-content : center;
}

